/*  html{
        background-color: bisque;}   
tr, th, td {
    border: 4px solid black;
}

body {
    
     
}
th, td {
    padding: 15px; 
}


th {
    text-align: left
}

@media (min-width:900px){ 
h1 {
    font-size: 4em;
    margin:inherit; 
    width:auto;
        
}


.one { 
    font-size: 2em;
    width: auto;
    margin:0em;  
}

h2 {
    font-size: 4em;
    margin: 0px;
    background-color:lightblue;
    width: auto; 
}

.two {
    font-size: 2em;       
}

.three {
    font-size: 2em;
}

.four{    
    font-size: 2em;
    position: relative;
}

h3 {font-size: 1em;
}

.five{
    display: none;
    position: relative; 
    font-size: 4vw;
}
    
    @media screen and (min-width:700px){
        body{
            font-size:120%;
        }
        #five{
            display:inline;
        }
    }
    
@media (min-width:900px;){
    html{
        background-color:darkcyan;
    }
}
    .image {
        position: relative;
        left: 35%;
    }
    h1
    {text-align: center;}
    .one 
    {text-align: center;}
    h2
    {text-align: center;}
    .two 
    {text-align: center}
    #three
    {text-align: center;}
    #four 
    {text-align: center;}
    h3 
    {text-align: center;}
    
#five {left:400px;}

    body {font-size:160%;
    }
    
*/
@media (min-width:700px){
    html {font-size: 140%;}
    .five {display: inline;}
    .six {display:none;}
    .seven {display: none;}
}

@media (min-width:850px){
html {font-size; 170%;}
    .five {display: none;}
    .six {display: inline;}
    .seven {display: none;}
}

@media (min-width:1000px)
{html{font-size:200%;}
    .five {display:none;}
    .six {display: none;}
    .seven {display: inline;}
}

h2, h3 {
    font-size: 2em;
}

h4,h5 {
    font-size: 1.5em;
}

body {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column;
}

header {
    background-color:blue;
    flex-grow:inherit;
}

nav {
    display:flex;
    flex-flow: row;
    text-align: center;
    font-size: 2em; 
    background-color: red;
    justify-content: space-around;
    text-decoration: none;     
}

p {
    text-align: center
}

a:link {
    color: blue; 
}


a:visited {
    color: green;
}


a:hover {
    color: hotpink;
}


a:active {
    color: blue;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
main{
    background-color: green;
}

footer{
    background-color: purple;
}

.five {
    display: inherit;
}

img {
    flex-wrap: wrap;
}

.three{
    display: inherit;
}

.four{
    display: inherit;
}
