html *{
    box-sizing: border-box;
}

*:before,
*:after{
    box-sizing: border-box;
    
}



body{
    font: 20px "times new roman", times, serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
}
    
#everything{
    display: flex;
    flex-flow: row;
}

nav{
    flex: 1 25%;
}

aside{
    flex: 1 25%;
}

main {
    flex: 1 50%;
}

/*
nav {
    flex-direction: column;
}

 main {
   flex-direction: column; 
}

aside {
    flex-direction: column;
}